---
import Layout from "~layouts/Layout.astro";
import Card from "~components/Card.astro";
import { Image } from "astro:assets";
import logo from "public/logo.svg";
---

<Layout title="Welcome to Astro.">
    <main class="m-auto text-white">
        <Image class="astro-a" src={logo} alt="" />

        <h1>Welcome to <span class="text-gradient">Astro</span></h1>

        <ul role="list" class="link-card-grid">
            <Card href="/story" title="STORY" body="story page" />
        </ul>

        <ul role="list" class="link-card-grid mt-20 border-t-2 border-dashed border-teal-50 pt-20">
            <Card
                href="https://tailwindcss.com/docs/aspect-ratio"
                title="Tailwind CSS"
                body="Tailwind CSS guide"
            />
            <Card
                href="https://docs.astro.build/"
                title="Documentation"
                body="Learn how Astro works and explore the official API docs."
            />
            <Card
                href="https://astro.build/integrations/"
                title="Integrations"
                body="Supercharge your project with new frameworks and libraries."
            />
            <Card
                href="https://astro.build/themes/"
                title="Themes"
                body="Explore a galaxy of community-built starter themes."
            />
            <Card
                href="https://astro.build/chat/"
                title="Community"
                body="Come say hi to our amazing Discord community. ❤️"
            />
        </ul>
    </main>
</Layout>

<style type="scss">
    @use "sass:map";

    @use "../styles/_common";

    main {
        width: 800px;
        max-width: calc(100% - 2rem);
        padding: 1rem;
        font-size: 20px;
        line-height: 1.6;
        font-family: map.get($laneige, kr);

        .astro-a {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: 33.33%;
            height: auto;
            transform: translate(-50%, -50%);
        }

        h1 {
            margin-bottom: 1em;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1;
            text-align: center;

            .text-gradient {
                background-image: var(--accent-gradient);
                background-position: 0%;
                background-clip: text;
                background-size: 400%;
                -webkit-text-fill-color: transparent;
            }
        }

        .instructions {
            padding: 1.5rem;
            margin-bottom: 2rem;
            background: linear-gradient(rgb(var(--accent-dark) 66%), rgb(var(--accent-dark) 33%));
            border: 1px solid rgb(var(--accent-light) 25%);
            border-radius: 8px;

            & strong {
                color: rgb(var(--accent-light));
            }
        }

        .link-card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
            gap: 2rem;
        }
    }
</style>
